<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Resultado</title>
</head>
<body>
    <main>
        <form class="form2" action="/" method="get">
            <h1>Submit Information</h1><br>
            <p>Name: <%=resultado.userName%></p><br>
            <p>Dojo Location: <%=resultado.userLocation%></p><br>
            <p>Favorite Language: <%=resultado.userFavoriteLanguage%></p><br>
            <p>Comment: <%=resultado.userComment%></p><br>
            <button class="goBack">Go Back</button>
        </form>
    </main>
</body>
</html>
