.form1{
    width: fit-content;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
}
.form2 {
    width: fit-content;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
}